@font-face {
    font-family: "coolvetica";
    src: url("/static/coolvetica.ttf")
}

#navbar {
    position: absolute;
    top: 0;

    width: 100%;
    height: 10%;

    background-image: -webkit-gradient(linear, left top, right top, from(rgb(179, 224, 255)), to(rgb(0, 153, 255)));

    background-image: -o-linear-gradient(left, rgb(179, 224, 255), rgb(0, 153, 255));

    background-image: linear-gradient(to right, rgb(179, 224, 255), rgb(0, 153, 255));
}

#navbar-option-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navbar p {
    font-family: coolvetica;
    font-size: 5vh;
    text-shadow: 0 0 4vh white;
    color: white;
    margin: 0;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

@media only screen and (max-width: 500px) {
    #navbar p {
        font-size: 3vh;
    }
}

#navbar p:hover {
    cursor: pointer;
    color: rgb(255, 150, 50);
}

.navbar-dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    height: 50vh;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(179, 224, 255)), to(rgb(0, 153, 255)));
    background-image: -o-linear-gradient(left, rgb(179, 224, 255), rgb(0, 153, 255));
    background-image: linear-gradient(to right, rgb(179, 224, 255), rgb(0, 153, 255));
    display: none;
    -webkit-box-shadow: 0 0 1vh white;
    box-shadow: 0 0 1vh white;
}

.navbar-dropdown a {
    font-family: coolvetica;
    font-size: 5vh;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5vh grey;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.navbar-dropdown a:hover {
    cursor: pointer;
    color: rgb(255, 150, 50);

}

.dropdown-option-container {
    height: 100%;
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dropdown-icon {
    height: 2vh;
    display: inline-block;
}

.dropdown-icon:hover {
    cursor: pointer;
}

#wait-screen {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: rgb(187, 255, 153);
    font-family: coolvetica;
    font-size: 5vw;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#wait-screen img {
    width: 5vw;
}

#pages {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 10vh; /* 10% (navbar height) */
}

.page {
    position: absolute;
    margin: 2%;
    width: 100%;
}

.page-content {
    top: 5%;
    width: 100%;
    border-radius: 3vw;
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: 5%;
}

.card {
    position: relative;
    width: 2in;
    height: 10vh;
    margin: 2%;
    padding: 1%;
    border-radius: 1vh;
    border: solid 1px darkorange;
    text-align: center;
    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: 0 0 1vh darkorange;
    box-shadow: 0 0 1vh darkorange;
    -webkit-transition: color 0.2s, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    -o-transition: box-shadow 0.2s ease, transform 0.2s ease, color 0.2s;
    transition: box-shadow 0.2s ease, transform 0.2s ease, color 0.2s;
    transition: box-shadow 0.2s ease, transform 0.2s ease, color 0.2s, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    overflow: hidden;
    color: darkorange;
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 1vh lightblue;
    box-shadow: 0 0 1vh lightblue;
    border-color: lightblue;
    cursor: pointer;
    color: rgb(26, 163, 255);
}

.card p {
    font-family: coolvetica;
}

.innerCardShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    -webkit-box-shadow: inset 0 -2vh 2vh rgb(240, 240, 240);
    box-shadow: inset 0 -2vh 2vh rgb(240, 240, 240);
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.innerCardShadow:hover {
    -webkit-box-shadow: inset 0 0 0 white;
    box-shadow: inset 0 0 0 white;
}

.filter-bar {
    border-radius: 1vh;
    background-color: rgb(179, 223, 255);
    width: 80%;
    height: 8vh;
    margin: 0 0 5vh 8%;
    -webkit-box-shadow: 0 0 2vh grey;
    box-shadow: 0 0 2vh grey;
    border: solid 1px lightblue;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter-bar:hover {
    background-color: rgb(90, 183, 255);
}

.filter-form {
    color: white;
    font-family: coolvetica;
    text-shadow: 0 0 3vh black;
}

.filter-form select {
    width: 15vw;
    border-radius: 1vh;
    font-family: coolvetica;
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.1s;
    transition: border-color 0.3s, -webkit-box-shadow 0.1s;
    -o-transition: box-shadow 0.1s, border-color 0.3s;
    transition: box-shadow 0.1s, border-color 0.3s;
    transition: box-shadow 0.1s, border-color 0.3s, -webkit-box-shadow 0.1s;
}

.filter-form select:focus {
    -webkit-box-shadow: 0 0 1vh grey;
    box-shadow: 0 0 1vh grey;
    outline: 0;
    border-color: darkorange;
}

.card-info-container {
    margin-left: 5.5%;
}

.card-info {
    position: fixed;
    top: 20%;
    width: 80%;
    border-radius: 1vh;
    background-color: lightblue;
    text-align: center;
    font-family: coolvetica;
    color: white;
    opacity: 0;
    padding: 2%;
    -webkit-box-shadow: 0 0 1px 100vmax rgba(0, 0, 0, 0.6), 0 0 1vh grey;
    box-shadow: 0 0 1px 100vmax rgba(0, 0, 0, 0.6), 0 0 1vh grey;
}

.card-info p, a {
    text-shadow: 0 0 2vh grey;
    font-size: 20px;
}

.card-info-title {
    font-size: 35px;
}

#footer {
    color: lightgrey;
    font-family: coolvetica;
}
