@font-face {
    font-family: "coolvetica";
    src: url("/static/coolvetica.ttf")
}

#navbar {
    position: absolute;
    top: 0;

    width: 100%;
    height: 10%;

    background-color: rgb(187, 255, 153);
}

#navbar-option-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar p {
    font-family: coolvetica;
    font-size: 5vh;
    text-shadow: 0 0 4vh grey;
    color: white;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    #navbar p {
        font-size: 3vh;
    }
}

#navbar p:hover {
    cursor: pointer;
}

.navbar-dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    height: 50vh;
    background-color: rgb(237, 255, 203);
    display: none;
}

.navbar-dropdown a {
    font-family: coolvetica;
    font-size: 5vh;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5vh grey;
}

.navbar-dropdown a:hover {
    cursor: pointer;
}

.dropdown-option-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dropdown-icon {
    height: 2vh;
    display: inline-block;
}

.dropdown-icon:hover {
    cursor: pointer;
}

#wait-screen {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: rgb(187, 255, 153);
    font-family: coolvetica;
    font-size: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wait-screen img {
    width: 5vw;
}

#pages {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 10vh; /* 10% (navbar height) */
}

.page {
    position: absolute;
    margin: 3%;
    width: 100%;
}

.page-content {
    top: 5%;
    width: 100%;
    border-radius: 3vw;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-right: 5%;
}

.card {
    position: relative;
    width: 2in;
    height: 10vh;
    margin: 2%;
    padding: 1%;
    border-radius: 1vh;
    border: solid 1px orange;
    text-align: center;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 1vh orange;
    transition: box-shadow 0.2s ease, transform 0.2s ease, height 0.5s;
    overflow: hidden;
}

.card:hover {
    height: 15vh;
    transform: scale(1.1);
    box-shadow: 0 0 1vh lime;
    cursor: pointer;
}

.card p {
    color: orange;
    font-family: coolvetica;
}

.innerCardShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -1vh 1vh grey;
    transition: box-shadow 0.3s ease;
}

.innerCardShadow:hover {
    box-shadow: inset 0 0 0 grey;
}
